:root {
    --body-background-color: whitesmoke;
    --logo-background-color: whitesmoke;
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-background-color: #140A01;
        --logo-background-color: #140A01;
    }
}


.logo {
    width: 15%;
    float: left;
    padding-right: 85%;
    background-color: var(--body-background-color);
    border-radius: 0%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-background-color);
}

/* barre de navigation*/
.nothere li {
    background-color: #F67912;
}

.nothere li {
    color: #F67912;
}

.nothere a {
    color: #F67912;
    background-color: #F67912;
}

.nav .nothere {
    background-color: #F67912;
}

nav {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    display: block;
    position: sticky;
    margin-left: auto;
    margin-right: auto;
}

nav ul li {
    float: left;
    width: 10%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    margin-right: 3%;
    padding-right: 0%;
    padding-left: 0%;
    margin-left: 2.5%;
    background-color: white;
    text-align: center;
    border-radius: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav li {
    list-style: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1%;
}

nav .nothere a {
    display: block;
    text-decoration: none;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin: 0px 15px;
    font-size: 120%;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a {
    display: block;
    text-decoration: none;
    color: #F67912;
    margin-left: auto;
    margin-right: auto;
    margin: 0 15px;
    font-size: 120%;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    border-radius: 20px;
}

.nothere a:hover {
    color: white;
    border-bottom: 2px solid transparent;
}

nav a:hover {
    color: #EC6F09;
    border-bottom: 2px solid transparent;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 2%;
    overflow: hidden;
    background-color: #F67912;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* au survol des catégories */
.sous {
    display: none;
    background-color: #F67912;
    position: absolute;
    width: 25%;
    z-index: 1000;
}

nav>ul li:hover .sous {
    display: block;
}

.sous li {
    float: none;
    width: 100%;
    text-align: left;
}

.sous a {
    padding: 10px;
    border-bottom: none;
}

.sous a:hover {
    border-bottom: none;
    background-color: #F67912;
    text-decoration: underline;
    text-decoration-color: white;
}

.deroulant>a::after {
    content: "▼";
    font-size: 78%;
}

/* page1 */

h1 {
    font-size: 325%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #D96608;
    padding-top: 5%;
}

h2 {
    color: black;
    font-size: 210%;
    margin-left: 8%;
    margin-bottom: 1%;
    text-align: left;
    padding-top: 1%;
}

p {
    color: black;
    font-size: 125%;
    padding-left: 10%;
    margin-right: 10%;
    text-align: left;
}

footer p {
    margin-top: 15%;
    background-color: #F67912;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    width: 90%;
    color: white;
}