:root {
    --body-background-color: whitesmoke;
    --logo-background-color: whitesmoke;
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-background-color: #140A01;
        --logo-background-color: #140A01;
    }
}

.logo {
    width: 15%;
    float: left;
    padding-right: 85%;
    background-color: var(--body-background-color);
    border-radius: 0%;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-background-color);
}

/* barre de navigation*/
.nothere li {
    background-color: #F67912;
}

.nothere li {
    color: #F67912;
}

.nothere a {
    color: #F67912;
    background-color: #F67912;
}

.nav .nothere {
    background-color: #F67912;
}

nav {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    display: block;
    position: sticky;
    margin-left: auto;
    margin-right: auto;
}

nav ul li {
    float: left;
    width: 10%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    margin-right: 3%;
    padding-right: 0%;
    padding-left: 0%;
    margin-left: 2.5%;
    background-color: white;
    text-align: center;
    border-radius: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav li {
    list-style: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1%;
}

nav .nothere a {
    display: block;
    text-decoration: none;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin: 0px 15px;
    font-size: 120%;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a {
    display: block;
    text-decoration: none;
    color: #F67912;
    margin-left: auto;
    margin-right: auto;
    margin: 0 15px;
    font-size: 120%;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    border-radius: 20px;
}

.nothere a:hover {
    color: white;
    border-bottom: 2px solid transparent;
}

nav a:hover {
    color: #EC6F09;
    border-bottom: 2px solid transparent;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 2%;
    overflow: hidden;
    background-color: #F67912;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* au survol des catégories */
.sous {
    display: none;
    background-color: #F67912;
    position: absolute;
    width: 25%;
    z-index: 1000;
}

nav>ul li:hover .sous {
    display: block;
}

.sous li {
    float: none;
    width: 100%;
    text-align: left;
}

.sous a {
    padding: 10px;
    border-bottom: none;
}

.sous a:hover {
    border-bottom: none;
    background-color: #F67912;
    text-decoration: underline;
    text-decoration-color: white;
}

.deroulant>a::after {
    content: "▼";
    font-size: 78%;
}

/* page1 */
h1 {
    font-size: 300%;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #EC6F09;
    padding-left: 5%;
    padding-top: 30%;
}

.image1 {
    display: block;
    width: 45%;
    float: right;
    border-radius: 1%;
    padding-right: 5%;
    padding-top: 7%;
}

.charte {
    width: 100%;
    height: 100%;
}

section.texte {
    color: black;
    margin-left: 15%;
    margin-right: 15%;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 100%;
    background-color: #F67912;
    color: white;
}

.titre {
    padding-bottom: 30%;
}

/* boutons */
.button {
    position: relative;
    padding-top: 10%;
    width: 100%;
    height: 300px;
    text-align: center;
    text-decoration: none;
}

.button1 {
    position: absolute;
    margin-top: 1%;
    text-align: center;
    text-decoration: none;
    border: none;
    background-color: #f67912;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    border-radius: 40px;
    width: 12%;
    margin-left: 30%;
}

.button1 p {
    font-size: 115%;
    text-decoration: none;
}

.button1:hover {
    background-color: #D96608;
    text-decoration: none;
}

.button2 {
    z-index: 5;
    margin-top: 1.1%;
    border: none;
    background-color: #f67912;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    width: 12%;
    border-radius: 40px;
    margin-right: 30%;
    margin-left: 60%;
}

.button2 p {
    font-size: 115%;
    text-decoration: none;
}

.button2 :hover {
    border: #D96608;
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
}

p {
    color: white;
    text-decoration-color: white;
}

.p:hover {
    color: #f67912;
    text-decoration: none;
}

h2 {
    font-size: 275%;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: #D96608;
    margin-left: 55%;
    padding-top: 25%;
    margin-right: 5%;
}

i {
    color: #140A01;
    font-size: 75%;
    font-style: normal;
    text-align: left;
}

.image2 {
    display: block;
    width: 45%;
    float: left;
    border-radius: 1%;
    padding-left: 3%;
    padding-top: 7%;
}

h4 {
    margin-top: 25%;
    margin-left: 8%;
    color: #D96608;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: bold;
    font-size: 270%;
    margin-bottom: 25px;
}

h5 {
    margin-top: 0%;
    margin-left: 8%;
    font-style: normal;
    font-size: 150%;
}

#charte {
    color: black;
}